<!DOCTYPE html>
<html>

<head>
    @@include('../include/head_tag.html')
    <title>Hello World!</title>
</head>

<body>
    @@include('../include/header.html')

    <div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">.col-md-2</div>
            <div class="col-md-11">
                <div id="view">ViewContent1234567</div>
                <div id="test">111{{data}}</div>
                <!-- <div id="content"></div> -->
            </div>
        </div>
    </div>
    <script src="view.js"></script>
</body>

</html>